{% extends 'base.html' %}

{% block content1 %}
{% include 'women/includes/nav.html' %}
<br>
<p><a href="{% url 'about' %}"> На страницу о программе</a></p>

<p><a href="{% url 'spisok_pri' 10 %}"> На страницу к студенту</a></p>

<h1> {{title|upper|truncatechars:6}} </h1>
<br>
<hr>
{{menu}}

<h1> {{float|add:'4'}} </h1>
<br>
<hr>
<br>
<hr>
<br>
{% include 'women/includes/nav.html' %}
<ul>
    {% for p in posts %}
    {% if p.is_public %}
    <li>
        <h2>{{p.title}}</h2>
        <p>{{p.content}}</p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% include 'women/includes/nav.html' %}
{{integer}}
{% endblock %}